html, body, #root, .App, .Main{
  background-color: beige;
  height: 100%;
  box-sizing: border-box;
}
.cards{
  display: flex;
  padding: 20px;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.exercises{
  background-color: aliceblue;
  width:100px;
  height: auto;
  padding:20px;
  margin: 10px;
  text-align: center;
  box-shadow: 2px 2px 2px 1px black;
}

.exercises div{
  padding: 5px;
}

.input{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.submit{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.inputMain{
  padding: 15%;
  text-align: center;
}
.CreateMain{
  padding: 10%;
  text-align: center;
}